<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PetFax</title>
</head>
<body>
    
    
    {% block content %}{% endblock %}

    <div class="callout">
        We'd love to learn more fun facts! <a href="/facts/new">Submit some here.</a>
    </div>
</body>
</html>